$primary-color: green;

#title {
	  color: $primary-color;
}

h1 { 
	text-align: center;
 }

.part-list{
    background: red;
}
/*The styles needed for the signup module*/

 @import url("../js/modules/sign-up/signup-module.css");